<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <form action="/add_tweet" , method="POST">
        <div>
            <label>Title</label>
            <div>
                <input type="textarea"  name="title" required>
            </div>
        </div> 
        <div>
            <label>Text</label>
            <div>
                <input type="textarea"  name="text" maxlength="280">
            </div>
        </div>   
    </form>
</body>
</html>